<!DOCTYPE html>
<html>
<head>
    <title>Formulario Flask</title>
</head>
<body>
    <h1>Registro de alumnos</h1>

    <form method="POST">
        Nombre: <input type="text" name="nombre"><br><br>
        Matrícula: <input type="text" name="matricula"><br><br>
        Carrera: <input type="text" name="carrera"><br><br>
        Semestre: <input type="text" name="semestre"><br><br>
        Fecha: <input type="text" name="fecha"><br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
